body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #000000;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */
.intro {
    width: 100%;
    height: 100vh;
    background: url("../Images/Intro_02.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}

/* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}


/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    color: #000000;
    vertical-align: top;
    margin: 0 10px;
    text-decoration: none;

}
